<section class="flex flex-col justify-center items-center h-screen overflow-hidden">
    <h1 class="text-slate-100 font-bold text-4xl">Hey, {{user}}</h1>
    <h1 class="text-slate-300 font-semibold text-3xl">Welcome to the dashboard!</h1>
</section>