<main class="h-screen w-full ">
    <section class="h-full">
        <div class="flex justify-center items-center h-full">
            <form class="flex flex-col gap-4" id="upload-form">
                <!-- Hidden file input -->
                <input type="file" name="file" id="file" class="hidden">
                <!-- Custom file input box -->
                <label for="file"
                    class="w-64 h-64 bg-gray-700 rounded-lg p-4 flex flex-col justify-center items-center cursor-pointer">
                    <!-- SVG Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                        class="w-16 h-16 text-slate-200" fill="none">
                        <path
                            d="M2.99996 14L3.2338 14.6626C4.14396 17.2413 4.59903 18.5307 5.63738 19.2654C6.67572 20 8.04305 20 10.7777 20H13.2222C15.9569 20 17.3242 20 18.3625 19.2654C19.4009 18.5307 19.856 17.2413 20.7661 14.6626L21 14"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path
                            d="M12 4V14M12 4C11.2997 4 9.99149 5.9943 9.49996 6.5M12 4C12.7002 4 14.0084 5.9943 14.5 6.5"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span id="fileLabel" class="mt-4 text-slate-400">No file chosen</span>
                </label>
                <!-- Progress bar -->
                <div class="w-full h-4 bg-gray-700 rounded">
                    <div id="progressBar" class="h-full bg-blue-500 rounded" style="width: 0%;"></div>
                </div>
                <!-- Submit button -->
                <input type="submit" value="Upload"
                    class="text-xl text-slate-200 py-1 px-2 font-semibold rounded-md shadow-md bg-gradient-to-tr from-gray-600 to-gray-700 cursor-pointer">
            </form>
        </div>
    </section>
</main>

<div id="infoDivOk" class="top-0 right-0 bg-gradient-to-br from-teal-700 to-teal-800 hidden py-1 px-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="w-8 h-8 text-slate-200 inline">
        <path
            d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z"
            stroke="currentColor" stroke-width="1.5" />
        <path d="M8 12.5L10.5 15L16 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
    </svg>
    <span class="text-slate-900 font-semibold text-xl">File Uploaded</span>
</div>
<div id="infoDivErr" class="top-0 right-0 bg-gradient-to-br from-teal-700 to-teal-800 hidden py-1 px-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="h-8 w-8 text-slate-200 inline">
        <path
            d="M15.0157 5C15.0157 3.58579 15.0157 2.87868 15.5273 2.43934C16.0388 2 16.8622 2 18.509 2C20.1557 2 20.9791 2 21.4906 2.43934C22.0022 2.87868 22.0022 3.58579 22.0022 5C22.0022 6.41421 22.0022 7.12132 21.4906 7.56066C20.9791 8 20.1557 8 18.509 8C16.8622 8 16.0388 8 15.5273 7.56066C15.0157 7.12132 15.0157 6.41421 15.0157 5Z"
            stroke="currentColor" stroke-width="1.5" />
        <path
            d="M15.0157 19C15.0157 17.5858 15.0157 16.8787 15.5273 16.4393C16.0388 16 16.8622 16 18.509 16C20.1557 16 20.9791 16 21.4906 16.4393C22.0022 16.8787 22.0022 17.5858 22.0022 19C22.0022 20.4142 22.0022 21.1213 21.4906 21.5607C20.9791 22 20.1557 22 18.509 22C16.8622 22 16.0388 22 15.5273 21.5607C15.0157 21.1213 15.0157 20.4142 15.0157 19Z"
            stroke="currentColor" stroke-width="1.5" />
        <path d="M8.5412 10.4825L5.52337 13.4949M8.5412 13.4949L5.52337 10.4825" stroke="currentColor"
            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path
            d="M7.04533 17.0314C9.8101 17.0314 12.0103 14.7709 12.0103 11.9931C12.0103 9.21534 9.76898 6.9635 7.0042 6.9635M7.04533 17.0314C4.28055 17.0314 1.99813 14.7709 1.99813 11.9931C1.99813 9.21534 4.23943 6.9635 7.0042 6.9635M7.04533 17.0314C6.97569 19.1612 8.53182 19.9388 9.63988 19.9795H12.0103M7.0042 6.9635C6.93385 4.80343 8.51708 4.04384 9.63988 3.99609H12.021"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <span class="text-slate-900 font-semibold text-xl">Failed To Upload</span>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const fileInput = document.getElementById('file');
        const label = document.getElementById('fileLabel');
        const progressBar = document.getElementById('progressBar');

        fileInput.addEventListener('change', () => {
            if (fileInput.files.length > 0) {
                label.textContent = fileInput.files[0].name;
            } else {
                label.textContent = 'No file chosen';
            }
        });

        const form = document.getElementById('upload-form');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData();
            formData.append('file', fileInput.files[0]);

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/file/upload');

            xhr.upload.addEventListener('progress', (e) => {
                if (e.lengthComputable) {
                    const percentComplete = (e.loaded / e.total) * 100;
                    progressBar.style.width = percentComplete + '%';
                }
            });

            xhr.addEventListener('load', () => {
                const infoDivOk = document.getElementById('infoDivOk');
                const infoDivErr = document.getElementById('infoDivErr');
                if (xhr.status === 200) {
                    infoDivOk.classList.remove('hidden');
                    infoDivOk.classList.add('absolute');
                    progressBar.style.width = '0%'; // Reset progress bar
                    infoDivErr.classList.add('hidden');
                } else {
                    infoDivOk.classList.add('hidden');
                    infoDivErr.classList.remove('hidden');
                    infoDivErr.classList.add('absolute');
                }
            });

            xhr.addEventListener('error', () => {
                alert('Failed to upload file');
            });

            xhr.send(formData);
        });
    });
</script>